@use '../../utils/' as * ;

/*============= WORK CSS AREA ===============*/
.work1-section-area {
    position: relative;
    background: var(--ztc-bg-bg-3);
    z-index: 1;
    .work-header {
        margin-bottom: 60px;
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        }
    }

    .work-slider-area {
        position: relative;
        .owl-nav{
            position: absolute;
            top: -180px;
            right: 0;
            @media #{$xs} {
                position: relative;
                top: 0;
                margin-top: 30px;
                text-align: center;
            }
            @media #{$md} {
                position: relative;
                top: 0;
                margin-top: 30px;
                text-align: center;
            }
            button {
                height: 50px;
                width: 50px;
                text-align: center;
                line-height: 50px;
                display: inline-block;
                transition: all .4s;
                background: #CBE8FD;
                border-radius: 50%;
                color: var(--ztc-bg-bg-2);
                margin: 0 6px 0 0;
                &:hover {
                    background: var(--ztc-bg-bg-2);
                    color: var(--ztc-bg-bg-1);
                    transition: all .4s;
                }
            }
        }
        .owl-item.active.center {
            .work-boxarea {
                .content-area {
                    bottom: 0;
                    transition: all .6s;
                }
            }
        }
        .work-boxarea {
            position: relative;
            z-index: 1;
            overflow: hidden;
            transition: all .4s;
            &:hover {
                .content-area {
                    bottom: 0;
                    transition: all .6s;
                }
            }
            .img1 {
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 8px;

                }
            }
            .content-area {
                background: var(--ztc-bg-bg-2);
                padding: 20px 24px;
                border-radius: 8px;
                position: absolute;
                bottom: -200px;
                width: 93%;
                margin: 16px;
                left: 0;
                right: 0;
                transition: all .6s;
                .icons {
                    a {
                        height: 50px;
                        width: 50px;
                        text-align: center;
                        line-height: 50px;
                        display: inline-block;
                        transition: all .4s;
                        background: var(--ztc-bg-bg-1);
                        border-radius: 50%;
                        img {
                            height: 16px;
                            width: 16px;
                            object-fit: contain;
                            margin: 0 auto;
                            margin-top: 16px;
                        }
                    }
                    
                }
                p {
                    color: var(--ztc-bg-bg-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 18px;
                    transition: all .4s;
                }
                a {
                    color: var(--ztc-bg-bg-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 20px;
                    transition: all .4s;
                }
                .img2 {
                    position: absolute;
                    top: 0;
                    right: 0;
                    animation: sweep 2s infinite ease-in-out;
                }
            }
        }
    }
}

// Inner Pages //
.work-inner-section-area {
    background: var(--ztc-text-text-3);
    position: relative;
    z-index: 1;
    .work-header {
        margin-bottom: 60px;
        h5 {
            color: var(--ztc-text-text-1);
            border-radius: 50px;
            background: rgba(255, 255, 255, 0.20);
        }
        h2 {
            color: var(--ztc-text-text-1);
        }
        p {
            color: var(--ztc-text-text-1);
            opacity: 80%;
        }
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        }
    }

    .work-slider-area {
        position: relative;
        .owl-nav{
            position: absolute;
            top: -180px;
            right: 0;
            @media #{$xs} {
                position: relative;
                top: 0;
                margin-top: 30px;
                text-align: center;
            }
            @media #{$md} {
                position: relative;
                top: 0;
                margin-top: 30px;
                text-align: center;
            }
            button {
                height: 50px;
                width: 50px;
                text-align: center;
                line-height: 50px;
                display: inline-block;
                transition: all .4s;
                border-radius: 50px;
                background: rgba(255, 255, 255, 0.20);
                color: var(--ztc-bg-bg-1);
                margin: 0 6px 0 0;
                &:hover {
                    background: var(--ztc-bg-bg-2);
                    color: var(--ztc-bg-bg-1);
                    transition: all .4s;
                }
            }
        }
        .owl-item.active.center {
            .work-boxarea {
                .content-area {
                    bottom: 0;
                    transition: all .6s;
                }
            }
        }
        .work-boxarea {
            position: relative;
            z-index: 1;
            overflow: hidden;
            transition: all .4s;
            &:hover {
                .content-area {
                    bottom: 0;
                    transition: all .6s;
                }
            }
            .img1 {
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 8px;

                }
            }
            .content-area {
                background: var(--ztc-bg-bg-2);
                padding: 20px 24px;
                border-radius: 8px;
                position: absolute;
                bottom: -200px;
                width: 93%;
                margin: 16px;
                left: 0;
                right: 0;
                transition: all .6s;
                .icons {
                    a {
                        height: 50px;
                        width: 50px;
                        text-align: center;
                        line-height: 50px;
                        display: inline-block;
                        transition: all .4s;
                        background: var(--ztc-bg-bg-1);
                        border-radius: 50%;
                        img {
                            height: 16px;
                            width: 16px;
                            object-fit: contain;
                            margin: 0 auto;
                            margin-top: 16px;
                        }
                    }
                    
                }
                p {
                    color: var(--ztc-bg-bg-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 18px;
                    transition: all .4s;
                }
                a {
                    color: var(--ztc-bg-bg-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 20px;
                    transition: all .4s;
                }
                .img2 {
                    position: absolute;
                    top: 0;
                    right: 0;
                    animation: sweep 2s infinite ease-in-out;
                }
            }
        }
    }
}

// RTL Pages //
.work1-section-area.rtl-area {
    position: relative;
    background: var(--ztc-bg-bg-3);
    z-index: 1;
    .work-header {
        margin-bottom: 60px;
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        }
    }

    .work-slider-area2 {
        position: relative;
        .owl-nav{
            position: absolute;
            top: -180px;
            left: 0;
            @media #{$xs} {
                position: relative;
                top: 0;
                margin-top: 30px;
                text-align: center;
            }
            @media #{$md} {
                position: relative;
                top: 0;
                margin-top: 30px;
                text-align: center;
            }
            button {
                height: 50px;
                width: 50px;
                text-align: center;
                line-height: 50px;
                display: inline-block;
                transition: all .4s;
                background: #CBE8FD;
                border-radius: 50%;
                color: var(--ztc-bg-bg-2);
                margin: 0 0 0 6px;
                &:hover {
                    background: var(--ztc-bg-bg-2);
                    color: var(--ztc-bg-bg-1);
                    transition: all .4s;
                }
            }
        }
        .owl-item.active.center {
            .work-boxarea {
                .content-area {
                    bottom: 0;
                    transition: all .6s;
                }
            }
        }
        .work-boxarea {
            position: relative;
            z-index: 1;
            overflow: hidden;
            transition: all .4s;
            &:hover {
                .content-area {
                    bottom: 0;
                    transition: all .6s;
                }
            }
            .img1 {
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 8px;

                }
            }
            .content-area {
                background: var(--ztc-bg-bg-2);
                padding: 20px 24px;
                border-radius: 8px;
                position: absolute;
                bottom: -200px;
                width: 93%;
                margin: 16px;
                left: 0;
                right: 0;
                transition: all .6s;
                .icons {
                    a {
                        height: 50px;
                        width: 50px;
                        text-align: center;
                        line-height: 50px;
                        display: inline-block;
                        transition: all .4s;
                        background: var(--ztc-bg-bg-1);
                        border-radius: 50%;
                        img {
                            height: 16px;
                            width: 16px;
                            object-fit: contain;
                            margin: 0 auto;
                            margin-top: 16px;
                        }
                    }
                    
                }
                p {
                    color: var(--ztc-bg-bg-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 18px;
                    transition: all .4s;
                }
                a {
                    color: var(--ztc-bg-bg-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 20px;
                    transition: all .4s;
                }
                .img2 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    animation: sweep 2s infinite ease-in-out;
                }
            }
        }
    }
}
/*============= WORK CSS AREA ===============*/